<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <h1>Produkty</h1>
      <%= link_to new_admin_product_path, class: "btn btn-success mt-3" do %>
        <span class="fa fa-plus"></span> Dodaj nowy produkt
      <% end %>
    </div>
  </div>
</div>
  <table class="table mt-5">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Kategoria</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number_to_currency product.price %> </td>
        <td><%= product.category.name %> </td>

        <td><%= link_to "Edycja", edit_admin_product_path(product), class: "btn btn-warning btn-xs" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @products %>
