<!DOCTYPE html>
<html>
  <head>
    <title>WicShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="<%= root_path %>">Wicshop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <% if [params[:controller], params[:action]] == ['products', 'index'] %>active<% end %>"  ><%= link_to 'Start', root_path, class: "nav-link" %></li>
          <li class="nav-item <% if [params[:controller], params[:action]] == ['static', 'privacy'] %>active<% end %>"  ><%= link_to 'Polityka prywatności', privacy_path, class: "nav-link" %></li>
          <li class="nav-item <% if [params[:controller], params[:action]] == ['static', 'terms'] %>active<% end %>"  ><%= link_to 'Regulamin', terms_path, class: "nav-link" %></li>
          <li class="nav-item <% if [params[:controller], params[:action]] == ['static', 'shipping'] %>active<% end %>"  ><%= link_to 'Dostawa i płatności', shipping_path, class: "nav-link" %></li>
          <li class="nav-item <% if [params[:controller], params[:action]] == ['static', 'about'] %>active<% end %>"  ><%= link_to 'O sklepie', about_path, class: "nav-link" %></li>
        </ul>
        <span class="navbar-text">
          <%= link_to cart_path do %>
            <span class="fa fa-shopping-cart"></span>
            <%= current_cart.line_items.map { |e| e.quantity}.sum %>
            produktów za
            <%= number_to_currency(current_cart.line_items.map { |e| e.full_price }.sum) %>
          <% end %>
        </span>
      </div>
    </nav>

    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-2">
          <h3>Kategorie</h3>
          <ul class="nav nav-sidebar flex-column">
            <% Category.all.each do |category| %>
              <li class="nav-item <% if @category == category %>active<% end %>"  >
                <%= link_to category.name, category_path(category), class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-10">
          <% if flash[:notice].present? %>
          <div class="alert alert-success">
            <%= flash[:notice]%>
          </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
